<%= flash[:guest_success] %>

<div class= "container" >
  <div class= "row justify-content-md-center">
    <div class= "col">
      <h1>タイムライン</h1>
    </div>
  </div>
  <div class="row">
    <% if current_user.followings.count == 0 %>
      <%= render 'users/posts/list', posts:@posts_all %>
    <% else %>
      <%= render 'users/posts/list', posts:@posts %>
    <% end %>
  </div>
</div>


