<!--ユーザー情報-->
<div class="container px-4 px-sm-0">
  <div class="row">
    <!--部分テンプレート呼び出し-->
    <%= render 'users/users/list', user:@user %>
    <!--メイン-->
    <div class="col-md-8 d-flex flex-column">
      <%= flash[:notice] %>
      <h2><%= @user.name %>のすべての投稿</h2>
      <!--部分テンプレート呼び出し-->
      <%= render 'users/posts/list', posts:@posts %>
    </div>
  </div>
</div>

 
      