
<h1>会員詳細ページ</h1>
<p>ユーザー名:<%= @user.name %></p>

<%= link_to "プロフィール編集", edit_user_path(current_user.id) %></br>
<p>すべての投稿:<%= link_to "すべての投稿",index_user_post_path(@user.id) %></p>
<p>いいねした投稿</p></br>
<p>following</p></br>
<p>follower</p>

